#equipo{

    margin-top: 30px;

    h1{
        color: #46464E;
    }



    h2{
        color: #898989;
    }

    h3{
        color: #46464E;
    }

    p{
        font-size: 20px;
    }
    img{
        height:300px;
        width: 300px;
    }
}